body {
  padding: 0px;
  margin: 0px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  background: url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634")
    center center fixed;
  background-size: cover !important;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.padding {
  width: 90%;
  background: white;
  padding: 0 10% 5% 165px;
}

.padding div {
  font-size: 3vw;
}

.padding p {
  font-size: 5vw;
  background: url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634")
    center center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover !important;
  font-family: "Poppins", sans-serif;
}

#links {
  margin: 20px 0px;
}
#links a {
  margin: 0px;
  color: #000;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  padding: 8px 10px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
#links a:hover {
  border-bottom: 2px solid #000;
}

#loading {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  font-family: "Poppins", sans-serif;
}

#text {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#spinner {
  animation: rotate 0.8s infinite linear;
  width: 30px;
  height: 30px;
  border: 5px solid #000;
  border-bottom: 5px solid white;
  border-radius: 50%;
  margin: 0px auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease-in-out;
}

#tagline {
  font-size: 40px;
  width: 80%;
  font-family: "Poppins", sans-serif;
}

#tagline h1 {
  background: url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634")
    center center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover !important;
}

#work h1 span {
  margin: 10px 20px;
  border-bottom: 4px solid transparent;
  padding: 8px 0px;
  transition: 0.4s ease-in-out;
}
#work h1 span:hover {
  border-bottom: 4px solid #000;
  cursor: pointer;
}

#skill table tr td {
  padding: 8px 30px;
  padding-left: 0px !important;
}

#web {
  columns: 2;
}

.project {
  width: 515px;
  height: auto;
  margin: 3vh 25px;
  display: inline-block;
  padding: 4vh 28px;
  color: #282828;
  border-radius: 8px;
  box-shadow: 0px 0px 2px #d1d1d1;
  transition: 0.4s ease-in-out;
  word-wrap: break-word;
}
.project button {
  background: transparent;
  padding: 12px 60px;
  border-radius: 50px;
  font-family: "Comfortaa", cursive;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  margin: 10px 10px;
  box-shadow: 0px 0px 1px #d1d1d1;
  border: 0px;
}
.right-arrow {
  font-size: 18px;
  margin-left: 2px;
}

.project button:hover {
  cursor: pointer;
  box-shadow: 0px 6px 14px #0000001e;
}

.project button:focus {
  box-shadow: inset 0px 6px 10px #c7c7c7;
  outline: none;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

.details {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.details a {
  font-size: 30px;
  color: #282828;
  transition: 0.4s ease-in-out;
}

.details a:hover {
  color: #bbbbbb;
}

.design .project:hover {
  cursor: pointer;
}

#inlarge {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  flex-direction: column;
  display: none;
  z-index: 9999;
}

#inlarge button {
  background: transparent;
  color: #fff;
  padding: 10px 10px;
  border-radius: 50%;
  margin: 3vh 3vw;
  border: 0px;
  font-size: 28px;
  position: absolute;
  transition: 0.4s ease-in-out;
  top: 0;
  right: 0;
}

#inlarge button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#inlarge button:focus {
  outline: none;
}

#img_container {
  width: 55vw;
  height: auto;
  background: #fff;
  margin: 0px auto;
  border-radius: 8px;
  padding: 15px 18px;
}

#img_container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 980px) {
  body {
    background-size: cover !important;
    background-repeat: no-repeat;
  }
  #links {
    margin: 20px 0px;
    text-align: center;
  }
  #tagline h1 {
    font-size: 40px;
  }
  #tagline {
    width: 98%;
    font-size: 29px;
    /* text-align: center; */
  }

  #skill {
    text-align: left;
  }
  #skill table tr td {
    padding: 8px 0px !important;
    margin: 10px 0px;
    margin-right: 12px;
    display: inline-block;
    font-size: 17px;
  }
  .details {
    text-align: center;
  }
  .details a {
    font-size: 20px;
    margin: 0px 3vw;
    padding: 14px;
    text-align: center;
  }
  #work {
    column-count: 1;
    column-gap: 0%;
    text-align: left;
  }
  .project {
    width: 94%;
    padding: 15px 3% !important;
    margin: 2vh 0px !important;
    font-size: 14px !important;
  }
  .padding {
    width: 85%;
  }
  .padding p {
    padding-top: 0px;
  }
  .project button {
    font-size: 14px;
    padding: 10px 25px;
  }
  .right-arrow {
    font-size: 12px;
  }
  #img_container {
    width: 100vw;
    padding: 15px 0px !important;
  }
  #work h1 span {
    font-size: 24px;
  }
  #web {
    columns: 1;
  }
  #skill h2 {
    font-size: 22px;
  }
  #typePlace {
    font-size: 50%;
  }
  h1 {
    font-size: 150%;
  }
  h2 {
    font-size: 100%;
  }
  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    width: 85%;
    padding: 0 0 0 5%;
  }
}

::placeholder {
  color: #fff;
}

input,
button:focus {
  outline: none;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0277bd;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

@media only screen and (max-width: 426px) {
  .sidenav {
    display: none;
  }
  .padding {
    width: 90%;
    padding: 0 10% 5% 5%;
  }
  .padding p {
    font-size: 7vw;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  width: 90%;
  padding: 0 0 0 5%;
}

.icon {
  font-size: 3vw;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}
.row a {
  display: block;
  font-size: 3vw;
  text-decoration: none;
  background: url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634")
    center center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover !important;
}

.padding15 {
  padding-left: 5%;
}

.smallText {
  font-size: 1.5vw;
}


.animate_when_almost_visible {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scale(1);
  opacity: 1;
}
